@font-face{
    font-family: 'KaiseiDecol-Regular';
    src: url("../../public/font/KaiseiDecol-Regular.ttf") format("truetype");
}

header{
    position: fixed;
    display: flex;
    width: 100%;
    top: 0;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 20px;
    z-index: 1;
    box-sizing: border-box;
}

.header-container a{
    font-size: 22px;
    font-family: 'KaiseiDecol-Regular';
    text-decoration: none;
    color: white;
}

.header-menus{
    display: flex; 
    gap: 20px;
}


.mypage-style a{
    color: #c5c5c5;
}

.header-menus a.active,
.mypage-style .header-logo a,
.mypage-style a.mypage-active{
    color: #3A3A3A;
}

.mypage-style {
    background-color: #E7eff5;
    color: #c5c5c5;
}

